.Book-container {
  margin: 20px;
}

.card-media-block .card-media-image {
  display: inline-block;
  flex: 0 0 auto;
  height: 8rem;
  width: 6rem;
  max-height: 8rem;

  max-width: 6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card {
  width: 100%;
  margin-bottom: 30px;
}

.left-container {
  width: 60%;
  float: left;
}

hr {
  margin: 25px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0));
}

.hr-top {
  margin-bottom: 25px;
}

.right-container {
  width: 40%;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}

.p-quote {
  text-align: left;
  font-size: 14px;
  word-spacing: 2;
}

.quote-author {
  text-align: right;
  font-style: italic;
  font-family: Poppins;
  color: #718096;
  font-weight: 500;
}



.quotes-list {
  padding-left: 30px;
}

.card-media-title,
h2 {
  color: #4a5568;
  font-family: Palanquin, sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.quotes-heading h2 {
  text-align: center;

  color: #718096;
}

.p-quote {
  text-align: justify;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  font-size: 14px;
  color: #a0aec0;
  font-family: Poppins;
  word-spacing: 0.05em;
  font-weight: 500;
}

.card-text {

  text-align: justify;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  font-size: 16px;
  color: #718096;
  font-family: Poppins;
  word-spacing: 0.05em;

  margin: 20px;
  font-weight: 500;
}

.warning-reviews {
  width: 90%;
}

.icon-hr {
  text-align: center;
  color: #718096;
  padding-top: 20px;
}

.card-media-title {
  margin: 0;
  margin-left: 10px;
}

.card-text-author {
  margin-left: 10px;
  font-weight: 500;
  padding: 10px 2px;
  font-size: 18px;
  letter-spacing: 0.05rem;
  color: #718096;
  font-family: Poppins, Poppins;

}

.card-text-by {
  padding-right: 5px;
}



.meta-data {
  text-align: left;
  display: flex;
  margin-left: 10px;

  padding-top: 14px;
}

.rating-value {
  padding-left: 5px;
  font-family: Poppins;
}

.ui-rating {
  color: rgb(252, 81, 133) !important;
  display: flex;
}
