/* You can add global styles to this file, and also import other style files */
* {
  background: white;
}

#goodreads-widget {
  font-family: georgia, serif;
  padding: 18px 0;
  width: 900px;
}



iframe {
  background-color: #fff;
  width: 750px;
  height: 800px;
}

.gr_review_container {
  width: 100%;
  font-family: Poppins !important;
  padding-top: 9px;
  font-size: 14px !important;
  word-spacing: 0.15rem;
  letter-spacing: 0.045rem;
  color: #718096 !important;

}

iframe .gr_review_text i {
  width: 100%;
  font-family: Poppins;
  padding-top: 9px;
  font-size: 14px;
  word-spacing: 0.15rem;
  letter-spacing: 0.045rem;
  color: #718096;
}
